<div class="section" id="gallery">
  <div class="container">
    <div class="tim-title">
      <h2>Galería</h2>
    </div>
    <!-- <div class="elfsight-app-14bbe6e8-1ed9-414d-9575-1cbd009ea4f4"></div> -->
    <div class="container gallery-container">
      <div class="tz-gallery">

        <div class="row">

          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/entrada1.jpg">
              <img
                src="./assets/img/moli/entrada1.jpg"
                alt="Bridge">
            </a>
          </div>

          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/hivern1.jpg">
              <img
                src="./assets/img/moli/hivern1.jpg"
                alt="Bridge">
            </a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/hivern3.jpg">
              <img
                src="./assets/img/moli/hivern3.jpg"
                alt="Bridge">
            </a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/exterior2.jpg">
              <img
                src="./assets/img/moli/exterior2.jpg"
                alt="Bridge">
            </a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/exterior1.jpg">
              <img
                src="./assets/img/moli/exterior1.jpg"
                alt="Bridge">
            </a>
          </div>
          <div class="col-sm-12 col-md-4">
            <a class="lightbox"
              href="./assets/img/moli/comp1.jpeg">
              <img
                src="./assets/img/moli/comp1.jpeg"
                alt="Bridge">
            </a>
          </div>

        </div>

      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  </div>

</div>