<div class="modal-header">
  <h6 class="modal-title text-center">Disponibilidad en <strong>{{house}}</strong></h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body" style="width:100%">
  <p *ngIf="isLoading">Cargando...</p>
  <app-availability *ngIf="!isLoading" [daysOccupied]="daysOccupied"></app-availability>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">
      Cerrar
    </button>
  <!-- <div class="divider"></div>
  <div class="right-side">
    <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">
      Cerrar
    </button>
  </div> -->
</div>