<!-- 
  <div class="page-header section-dark" style="background-image: url('assets/img/hivern12.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div>
              <h1 class="presentation-title">Molí d'en Sala</h1>
              <div class="fog-low" style="opacity: 15%">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right" style="opacity: 15%;">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
          </div>

          <h2 class="presentation-subtitle text-center">Allotjaments rurals</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  
</div> 
-->
<!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
      <h6 class="category category-absolute">Designed and coded by -->

<div class="banner">
  <div id="text" class="presentation-title">
    <div class="angular-logo">
      <img src="assets/img/angular2-logo.png" alt="">
    </div>MOLÍ D'EN SALA
  </div>
  <div class="clouds">
    <img name='cloud' src="../../../assets/img/cloud1.png" style="--i:1;">
    <img name='cloud' src="../../../assets/img/cloud2.png" style="--i:2;">
    <img name='cloud' src="../../../assets/img/cloud3.png" style="--i:3;">
    <img name='cloud' src="../../../assets/img/cloud4.png" style="--i:4;">
    <img name='cloud' src="../../../assets/img/cloud5.png" style="--i:5;">
    <img name='cloud' src="../../../assets/img/cloud1.png" style="--i:10;">
    <img name='cloud' src="../../../assets/img/cloud2.png" style="--i:9;">
    <img name='cloud' src="../../../assets/img/cloud3.png" style="--i:8;">
    <img name='cloud' src="../../../assets/img/cloud4.png" style="--i:7;">
    <img name='cloud' src="../../../assets/img/cloud5.png" style="--i:6;">
  </div>
</div>