<!-- 
  <div class="page-header section-dark" style="background-image: url('assets/img/hivern12.jpg')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div>
              <h1 class="presentation-title">Molí d'en Sala</h1>
              <div class="fog-low" style="opacity: 15%">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right" style="opacity: 15%;">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
          </div>

          <h2 class="presentation-subtitle text-center">Allotjaments rurals</h2>
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
  
</div> 
-->
<!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
      <h6 class="category category-absolute">Designed and coded by -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
</style>
<!-- <section class="site-title">
  <div class="site-background">
    <h3>Allotjaments rurals</h3>
    <h1>Molí d'en Sala</h1>
    <button class="btn btn-round">Explore</button>
  </div>
</section> -->
<div class="banner">
  <div class="nav-blur"> </div>
  <div id="text" class="presentation-title" data-tilt-full-page-listening data-tilt-reverse="true">
    <div class="angular-logo">
      <img src="assets/img/M4.svg" alt="">
    </div>
    Molí d'en Sala  
    <h6 class="presentation-subtitle text-center">Alojamientos rurales</h6>
  </div>
  <div class="scroll-y">
    <svg (click)="scrollTo('accommodations')" height="21pt" viewBox="-90 0 512 512" width="21pt"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m166.238281 430.144531-89.769531-94.898437 29.058594-27.488282 60.632812 64.097657 60.273438-64.058594 29.132812 27.410156zm165.761719-38.144531v-272c0-66.167969-53.832031-120-120-120h-92c-66.167969 0-120 53.832031-120 120v272c0 66.167969 53.832031 120 120 120h92c66.167969 0 120-53.832031 120-120zm-120-352c44.113281 0 80 35.886719 80 80v272c0 44.113281-35.886719 80-80 80h-92c-44.113281 0-80-35.886719-80-80v-272c0-44.113281 35.886719-80 80-80zm-46 41c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 80c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 80c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20 20-8.953125 20-20-8.953125-20-20-20zm0 0" />
      </svg>
  </div>

  <div class="clouds">
    <img name='cloud' src="./assets/img/cloud1.png" style="--i:1;">
    <img name='cloud' src="./assets/img/cloud2.png" style="--i:2;">
    <img name='cloud' src="./assets/img/cloud3.png" style="--i:3;">
    <img name='cloud' src="./assets/img/cloud4.png" style="--i:4;">
    <img name='cloud' src="./assets/img/cloud5.png" style="--i:5;">
    <img name='cloud' src="./assets/img/cloud1.png" style="--i:10;">
    <img name='cloud' src="./assets/img/cloud2.png" style="--i:9;">
    <img name='cloud' src="./assets/img/cloud3.png" style="--i:8;">
    <img name='cloud' src="./assets/img/cloud4.png" style="--i:7;">
    <img name='cloud' src="./assets/img/cloud5.png" style="--i:6;">
  </div>
</div>