<div class="section section-dark" id="services">
  <div class="container">
    <div class="tim-title">
      <h2 class="title">Características y servicios</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 col-xs-6">
        <div class="tim-title">
          <h3>Exterior</h3>
        </div>
        <img src="" id="place-holder-2" style="z-index: 1000; position: absolute; max-width: 500px; max-height: 500px;" />

        <ul>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">
            Barbacoa
          </li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Zona de aparcamiento</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Terraza</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Piscina</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Jardín</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-6">
        <div class="tim-title">
          <h3>Interior</h3>
        </div>
        <ul>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Baño compartido</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Microondas</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Lavadora</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Comedor</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Cocina</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Chimenea</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Calefacción</li>
          <li onmouseover="document.getElementById('place-holder-1').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-1').src='';">Televisión</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="tim-title">
          <h3>Servicios</h3>
        </div>
        <img src="" id="place-holder-1" style="z-index: 1000; position: absolute; max-width: 500px;" />

        <ul>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Admite animales</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Acceso internet</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="tim-title">
          <h3>Situación</h3>
        </div>
        <ul>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Afueras del casco urbano</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Montaña</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Aislada</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Cerca de un lago</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Acceso asfaltado</li>
          <li onmouseover="document.getElementById('place-holder-2').src='assets/img/landing3-l.jpg';"onmouseout="document.getElementById('place-holder-2').src='';">Cerca de un río</li>
        </ul>
      </div>
    </div>
  </div>
</div>