<div class="section" id="services">
  <div class="container">
    <div class="tim-title">
      <h2>Características y servicios</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 col-xs-6">
        <div class="tim-title">
          <h3>Exterior</h3>
        </div>
        <ul>
          <li>Barbacoa</li>
          <li>Zona de aparcamiento</li>
          <li>Terraza</li>
          <li>Piscina</li>
          <li>Jardín</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 col-xs-6">
        <div class="tim-title">
          <h3>Interior</h3>
        </div>
        <ul>
          <li>Baño compartido</li>
          <li>Microondas</li>
          <li>Lavadora</li>
          <li>Comedor</li>
          <li>Cocina</li>
          <li>Chimenea</li>
          <li>Calefacción</li>
          <li>Televisión</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="tim-title">
          <h3>Servicios</h3>
        </div>
        <ul>
          <li>Admite animales</li>
          <li>Acceso internet</li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="tim-title">
          <h3>Situación</h3>
        </div>
        <ul>
          <li>Afueras del casco urbano</li>
          <li>Montaña</li>
          <li>Aislada</li>
          <li>Cerca de un lago</li>
          <li>Acceso asfaltado</li>
          <li>Cerca de un río</li>
        </ul>
      </div>
    </div>
  </div>
</div>