.gradient1 {
  // background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.question {
  font-weight: bold;
  margin-bottom: 0.7em;
}
.answer {
  margin-bottom: 0.9em;
  margin-left: 0.6em;
}
.list-group {
  font-size: 1.5em;
}
