<div class="section gradient1" id="faqs">
  <div class="container">
    <div class="tim-title">
      <h2>Preguntas frecuentes</h2>
    </div>
    <div class="list-group">
      <div class="question">¿Preparáis comidas?</div>
      <div class="answer">No, los alojamientos cuentan con sus cocinas propias y sus utensilios por lo que no hacemos ningun servicio de restaurante.</div>
      <div class="question">¿Puedo traer animales?</div>
      <div class="answer">Sí, se pueden traer todo tipo de animales que no sean peligrosos.</div>
      <div class="question">¿A qué hora hay que hacer el check-in y check-out?</div>
      <div class="answer">Podéis entrar a partir de las 12:00 y el último día salir de la casa a las 18:00.</div>
      <div class="question">¿Hay cobertura?</div>
      <div class="answer">Sí, hay cobertura Movistar</div>
      <div class="question">¿Hay WiFi?</div>
      <div class="answer">Hay WiFi pero no llega a todos los sitios.</div>
      <div class="question">¿Tienes otra pregunta?</div>
      <div class="answer">Ponte en contacto conmigo y te la resolveré lo antes posible.</div>
    </div>
  </div>
</div>
