<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.facebook.com/molidensala">Facebook</a></li>
                    <li><a href="https://www.instagram.com/molidensala">Instagram</a></li>
                    <li><a href="https://www.escapadarural.com/casa-rural/barcelona/moli-d-en-sala">Escapada Rural</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    <!-- © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim -->
                    © {{test | date: 'yyyy'}} Molí d'en Sala
                </span>
            </div>
        </div>
    </div>
</footer>
